<div id="soclinks">
{% if facebook_url %}
  <a href="{{ facebook_url }}" class="sociallinks facebook" title="Facebook" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a>
{% endif %}
{% if google_plus_url %}
  <a href="{{ google_plus_url }}" class="sociallinks googleplus" title="Google+" target="_blank" rel="nofollow"><i class="fa fa-google-plus"></i></a>
{% endif %}
{% if twitter_url %}
  <a href="{{ twitter_url }}" class="sociallinks twitter" title="Twitter" target="_blank" rel="nofollow"><i class="fa fa-twitter"></i></a>
{% endif %}
{% if instagram_url %}
  <a href="{{ instagram_url }}" class="sociallinks instagram" title="Instagram" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if telegram_url %}
  <a href="{{ telegram_url }}" class="sociallinks telegram" title="Telegram" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a>
{% endif %}
{% if pinterest_url %}
  <a href="{{ pinterest_url }}" class="sociallinks pinterest" title="Pinterest" target="_blank" rel="nofollow"><i class="fa fa-pinterest"></i></a>
{% endif %}
{% if linkedin_url %}
  <a href="{{ linkedin_url }}" class="sociallinks linkedin" title="LinkedIn" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a>
{% endif %}
{% if youtube_url %}
  <a href="{{ youtube_url }}" class="sociallinks youtube" title="Youtube" target="_blank" rel="nofollow"><i class="fa fa-youtube"></i></a>
{% endif %}
{% if vimeo_url %}
  <a href="{{ vimeo_url }}" class="sociallinks vimeo" title="Vimeo" target="_blank" rel="nofollow"><i class="fa fa-vimeo"></i></a>
{% endif %}
{% if flickr_url %}
  <a href="{{ flickr_url }}" class="sociallinks flickr" title="Flickr" target="_blank" rel="nofollow"><i class="fa fa-flickr"></i></a>
{% endif %}
{% if tumblr_url %}
  <a href="{{ tumblr_url }}" class="sociallinks tumblr" title="Tumblr" target="_blank" rel="nofollow"><i class="fa fa-tumblr"></i></a>
{% endif %}
{% if skype_url %}
  <a href="{{ skype_url }}" class="sociallinks skype" title="Skype" target="_blank" rel="nofollow"><i class="fa fa-skype"></i></a>
{% endif %}
{% if drupal_url %}
  <a href="{{ drupal_url }}" class="sociallinks drupal" title="Drupal" target="_blank" rel="nofollow"><i class="fa fa-drupal"></i></a>
{% endif %}
{% if rss_url %}
  <a href="{{ rss_url }}" class="sociallinks rss" title="RSS" target="_blank" rel="nofollow"><i class="fa fa-rss"></i></a>
{% endif %}
{% if myother_url %}
  <a href="{{ myother_url }}" class="sociallinks myother" title="!" target="_blank" rel="nofollow"><i class="fa fa-myother"></i></a>
{% endif %}
</div>
